<div class="back">
  <h1>BORDER-RADIUS PREVIEWER</h1>
  <div class="container">
    <div id="box" [style.background-color]="pickedColor">
      <div id="top-left" class="corners" [hidden]="!showDiv1"></div>
      <div id="top-right" class="corners" [hidden]="!showDiv2"></div>
      <div id="bottom-right" class="corners" [hidden]="!showDiv3"></div>
      <div id="bottom-left" class="corners" [hidden]="!showDiv4"></div>
    </div>
    <input type="color"[(ngModel)]="pickedColor">
    <div class="details">
      <div class="options">
        <p>Top-left</p>
        <input type="number" #inputTL (keyup)="topLeftPreview(inputTL.value)" (focus)="showDiv(1)">px
      </div>
      <div class="options">
        <p>Top-right</p>
        <input type="number" #inputTR (keyup)="topRightPreview(inputTR.value)" (focus)="showDiv(2)">px
      </div>
      <div class="options">
        <p>Bottom-left</p>
        <input type="number" #inputBL (keyup)="bottomLeftPreview(inputBL.value)" (focus)="showDiv(4)">px
      </div>
      <div class="options">
        <p>Bottom-right</p>
        <input type="number" #inputBR (keyup)="bottomRightPreview(inputBR.value)" (focus)="showDiv(3)">px
      </div>
    </div>
    <button id="copyBtn" (click)="copyCSS(inputTL.value, inputTR.value, inputBR.value, inputBL.value)">{{ copyText }} <i class="fa-solid fa-copy"></i></button>
  </div>
</div>
